# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Uploaded files (temp)
uploads/
converted/
converted.zip

# Environment files
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
